<%- include('../partial/header') %>

        <table class="table table-striped">
            <thead>
                <tr>
                    <td>No.</td>
                    <th>Kode Barang</th>
                    <th>Nama Barang</th>
                    <th>Stok Barang</th>
                    <th>Harga Beli</th>
                    <th>Harga Jual</th>
                </tr>
            </thead>
            <tbody>
                <% rows.forEach((item, index)=> { %>
                    <tr>
                        <td><%= index + 1 %></td>
                        <td><%= item.id_barang %></td>
                        <td><%= item.nama_barang %></td>
                        <td class="right-position"><%= item.stock %></td>
                        <td class="right-position"><%= currencyFormatter.format(item.harga_beli) %></td>
                        <td class="right-position"><%= currencyFormatter.format(item.harga_jual) %></td>
                    </tr>
                    <% }) %>
            </tbody>

        </table>

<%- include('../partial/footer') %>